@model List<Usuario>


<div class="container">

	<div class="d-flex justify-content-between align-items-center">
		<h1>Registro de Usuários</h1>
		<a asp-action="Cadastrar" asp-controller="Home" class="btn btn-success">Cadastrar Usuários</a>
	</div>

	<table class="table table-hover table-bordered mt-5">
		<thead class="table-dark">
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Email</th>
				<th>Cargo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			@if (Model.Count() > 0)
			{
				@foreach(var usuario in Model)
				{
					<tr>
						<td>@usuario.Id</td>
						<td>@usuario.Nome</td>
						<td>@usuario.Sobrenome</td>
						<td>@usuario.Email</td>
						<td>@usuario.Cargo</td>
						<td>
							<a asp-action="Detalhes" asp-controller="" class="btn btn-warning">Detalhes</a>
							<a asp-action="Editar" asp-controller="" class="btn btn-Info">Editar</a>
							<a asp-action="Remover" asp-controller="" class="btn btn-danger">Remover</a>
						</td>
					</tr>

				}

			}
			
		</tbody>
	</table>
</div>